Repository nonsoolmate/NONSOOLMATE-CLIENT, pull requests merged in 2024-01, with the labels that each got.

#4 [ Design ] commonStyle
  nonsoolmateClient/package.json
  nonsoolmateClient/src/assets/icon/.keep
  nonsoolmateClient/src/assets/icon/backToListIc.svg
  nonsoolmateClient/src/assets/icon/downArrowBoldIc.svg
  nonsoolmateClient/src/assets/icon/downArrowIc.svg
  nonsoolmateClient/src/assets/icon/leftArrowBigIc.svg
  nonsoolmateClient/src/assets/icon/leftArrowBlackBtn.svg
  nonsoolmateClient/src/assets/icon/leftArrowWhiteIc.svg
  nonsoolmateClient/src/assets/icon/precautionNumIc.svg
  nonsoolmateClient/src/assets/icon/rightArrowBigIc.svg
  nonsoolmateClient/src/assets/icon/rightArrowIc.svg
  nonsoolmateClient/src/assets/icon/rightArrowWhiteIc.svg
  nonsoolmateClient/src/assets/icon/upArrowBoldIc.svg
  nonsoolmateClient/src/assets/icon/upArrowIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/style/commonStyle.ts
  nonsoolmateClient/src/style/globalStyle.ts
  nonsoolmateClient/src/style/resetStyle.ts
  nonsoolmateClient/vite.config.ts
  nonsoolmateClient/yarn.lock
Labels: 💄 design, 💚 혜인

#7 [ INIT ] ROUTER 설정
  nonsoolmateClient/package.json
  nonsoolmateClient/src/App.tsx
  nonsoolmateClient/src/error/index.tsx
  nonsoolmateClient/src/layout/RootLayout.tsx
  nonsoolmateClient/src/main.tsx
  nonsoolmateClient/src/pages/Main.tsx
  nonsoolmateClient/src/router.tsx
  nonsoolmateClient/yarn.lock
Labels: 💚 혜인, 🎉 init

#9 Init/#8/test/structure
  nonsoolmateClient/.stylelintrc.json
  nonsoolmateClient/src/style/theme.ts
  nonsoolmateClient/src/takeTest/components/CoachMark.tsx
  nonsoolmateClient/src/takeTest/components/Modal.tsx
  nonsoolmateClient/src/takeTest/components/PrecautionModal.tsx
  nonsoolmateClient/src/takeTest/components/TestFinishModal.tsx
  nonsoolmateClient/src/takeTest/components/TestHeader.tsx
  nonsoolmateClient/src/takeTest/components/TestQuitModal.tsx
  nonsoolmateClient/src/takeTest/components/TestSection.tsx
  nonsoolmateClient/src/takeTest/components/TestSubmitModal.tsx
  nonsoolmateClient/src/takeTest/components/Timer.tsx
  nonsoolmateClient/src/takeTest/index.tsx
Labels: 💜 소영, 🎉 init, 💡 takeTest

#12 Design/#11/take test/test header UI
  nonsoolmateClient/src/pages/Main.tsx
  nonsoolmateClient/src/router.tsx
  nonsoolmateClient/src/takeTest/components/TestHeader.tsx
  nonsoolmateClient/src/takeTest/components/Timer.tsx
  nonsoolmateClient/src/takeTest/index.tsx
Labels: 💄 design, 💜 소영, 💡 takeTest

#13 Init/#3/my place/foldering
  nonsoolmateClient/src/components/.keep
  nonsoolmateClient/src/home/components/HomeHeader.tsx
  nonsoolmateClient/src/home/components/HomePractice.tsx
  nonsoolmateClient/src/home/components/HomeSide.tsx
  nonsoolmateClient/src/home/components/HomeStudy.tsx
  nonsoolmateClient/src/home/components/HomeTest.tsx
  nonsoolmateClient/src/home/components/HomeTestSet.tsx
  nonsoolmateClient/src/home/components/HomeTestUnset.tsx
  nonsoolmateClient/src/home/index.tsx
  nonsoolmateClient/src/router.tsx
  nonsoolmateClient/src/style/layout/SideBarButtonLayout.ts
Labels: 💛 민영, 🎉 init, 🏠Home

#15 Design/#14/take test/test section UI
  nonsoolmateClient/src/assets/image/testPaperImg1.jpeg
  nonsoolmateClient/src/assets/image/testPaperImg2.jpeg
  nonsoolmateClient/src/assets/image/testPaperImg3.jpeg
  nonsoolmateClient/src/assets/image/testPaperImg4.jpeg
  nonsoolmateClient/src/style/style.d.ts
  nonsoolmateClient/src/style/theme.ts
  nonsoolmateClient/src/takeTest/components/TestPagination.tsx
  nonsoolmateClient/src/takeTest/components/TestSection.tsx
  nonsoolmateClient/src/takeTest/index.tsx
Labels: 💄 design, 💜 소영, 💡 takeTest

#18 [ Init/#1 ] 폴더구조 및 answer 뷰 공통 컴포넌트 생성
  nonsoolmateClient/src/answer/components/DefaultButton.tsx
  nonsoolmateClient/src/answer/components/ExplainHeader.tsx
  nonsoolmateClient/src/answer/components/PdfViewer.tsx
  nonsoolmateClient/src/answer/components/PdfViewerContainer.tsx
  nonsoolmateClient/src/answer/components/TitleWrapper.tsx
  nonsoolmateClient/src/answer/correctExplain/components/.gitkeep
  nonsoolmateClient/src/answer/correctExplain/index.tsx
  nonsoolmateClient/src/answer/questionExplain/components/.gitkeep
  nonsoolmateClient/src/answer/questionExplain/index.tsx
Labels: 💡 Answer, 💙 시연, 🎉 init

#24 Design/#17/home/home layout UI
  nonsoolmateClient/src/assets/icon/borderIc.svg
  nonsoolmateClient/src/assets/icon/loginInfoIc.svg
  nonsoolmateClient/src/assets/icon/logoIc.svg
  nonsoolmateClient/src/assets/icon/practiceActiveIc.svg
  nonsoolmateClient/src/assets/icon/practiceDisabledIc.svg
  nonsoolmateClient/src/assets/icon/rightArrowIc.svg
  nonsoolmateClient/src/assets/icon/studyActiveIc.svg
  nonsoolmateClient/src/assets/icon/studyDisabledIc.svg
  nonsoolmateClient/src/assets/icon/testActiveIc.svg
  nonsoolmateClient/src/assets/icon/testDisabledIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/home/components/HomeHeader.tsx
  nonsoolmateClient/src/home/components/HomeSide.tsx
  nonsoolmateClient/src/home/components/SideBarPracticeButton.tsx
  nonsoolmateClient/src/home/components/SideBarStudyButton.tsx
  nonsoolmateClient/src/home/components/SideBarTestButton.tsx
  nonsoolmateClient/src/home/homePractice/.keep
  nonsoolmateClient/src/home/homePractice/HomePractice.tsx
  nonsoolmateClient/src/home/homeStudy/.keep
  nonsoolmateClient/src/home/homeStudy/HomeStudy.tsx
  nonsoolmateClient/src/home/homeTest/.keep
  nonsoolmateClient/src/home/homeTest/HomeTest.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestSet.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestUnset.tsx
  nonsoolmateClient/src/home/index.tsx
  nonsoolmateClient/src/router.tsx
  nonsoolmateClient/src/style/layout/SideBarButtonLayout.ts
  nonsoolmateClient/src/style/layout/SideBarTextBoxLayout.ts
Labels: 💄 design, 💛 민영, 🏠Home

#22 Design/#21/onbording structure
  nonsoolmateClient/src/onbording/components/advertise/Advertise.tsx
  nonsoolmateClient/src/onbording/components/advertise/Advertisement/Advertisement.tsx
  nonsoolmateClient/src/onbording/components/advertise/Advertisement/Image.tsx
  nonsoolmateClient/src/onbording/components/advertise/Advertisement/Summary.tsx
  nonsoolmateClient/src/onbording/components/advertise/Advertisement/Title.tsx
  nonsoolmateClient/src/onbording/components/advertise/Summary.tsx
  nonsoolmateClient/src/onbording/components/advertise/Title.tsx
  nonsoolmateClient/src/onbording/components/banner/Banner.tsx
  nonsoolmateClient/src/onbording/components/banner/GotoSaleButton.tsx
  nonsoolmateClient/src/onbording/components/banner/HomeImg.tsx
  nonsoolmateClient/src/onbording/components/banner/Summary.tsx
  nonsoolmateClient/src/onbording/components/banner/Title.tsx
  nonsoolmateClient/src/onbording/components/faq/DivideLine.tsx
  nonsoolmateClient/src/onbording/components/faq/FaQ.tsx
  nonsoolmateClient/src/onbording/components/faq/QnA.tsx
  nonsoolmateClient/src/onbording/components/faq/Title.tsx
  nonsoolmateClient/src/onbording/components/footer/Footer.tsx
  nonsoolmateClient/src/onbording/components/footer/FooterLeft.tsx
  nonsoolmateClient/src/onbording/components/footer/FooterRight.tsx
  nonsoolmateClient/src/onbording/components/header/Header.tsx
  nonsoolmateClient/src/onbording/components/header/HeaderLeft.tsx
  nonsoolmateClient/src/onbording/components/header/HeaderRight.tsx
  nonsoolmateClient/src/onbording/components/header/buttons/LoginButton.tsx
  nonsoolmateClient/src/onbording/components/header/buttons/MembershipButton.tsx
  nonsoolmateClient/src/onbording/components/univeristy/Summary.tsx
  nonsoolmateClient/src/onbording/components/univeristy/Title.tsx
  nonsoolmateClient/src/onbording/components/univeristy/UnivImgs.tsx
  nonsoolmateClient/src/onbording/components/univeristy/Univeristy.tsx
  nonsoolmateClient/src/onbording/index.tsx
  nonsoolmateClient/src/router.tsx
Labels: 💄 design, 💚 혜인

#20 Design/#16/take test/coach mark UI
  nonsoolmateClient/src/assets/icon/leftCircleIc.svg
  nonsoolmateClient/src/assets/icon/leftCircleLongIc.svg
  nonsoolmateClient/src/assets/icon/rightCircleIc.svg
  nonsoolmateClient/src/assets/icon/upCircleIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/takeTest/components/CoachMark.tsx
  nonsoolmateClient/src/takeTest/components/Modal.tsx
  nonsoolmateClient/src/takeTest/components/coachMark/CloseCoachMark.tsx
  nonsoolmateClient/src/takeTest/components/coachMark/CoachMark.tsx
  nonsoolmateClient/src/takeTest/components/coachMark/NextPageMark.tsx
  nonsoolmateClient/src/takeTest/components/coachMark/PrevPageMark.tsx
  nonsoolmateClient/src/takeTest/components/coachMark/QuitTestMark.tsx
  nonsoolmateClient/src/takeTest/components/coachMark/TimerMark.tsx
  nonsoolmateClient/src/takeTest/components/header/TestHeader.tsx
  nonsoolmateClient/src/takeTest/components/header/Timer.tsx
  nonsoolmateClient/src/takeTest/components/modal/ModalLayout.tsx
  nonsoolmateClient/src/takeTest/components/modal/PrecautionModal.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestFinishModal.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestQuitModal.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestSubmitModal.tsx
  nonsoolmateClient/src/takeTest/components/pagination/TestPagination.tsx
  nonsoolmateClient/src/takeTest/index.tsx
Labels: 💄 design, 💜 소영, 💡 takeTest

#25 Design/#23/onbording header
  nonsoolmateClient/src/onbording/components/header/Header.tsx
  nonsoolmateClient/src/onbording/components/header/HeaderLeft.tsx
  nonsoolmateClient/src/onbording/components/header/HeaderRight.tsx
  nonsoolmateClient/src/onbording/components/header/buttons/LoginButton.tsx
  nonsoolmateClient/src/onbording/components/header/buttons/MembershipButton.tsx
Labels: 💄 design, 💚 혜인

#30 Design/#26/onbording/footer
  nonsoolmateClient/src/assets/icon/facebookIc.svg
  nonsoolmateClient/src/assets/icon/instaIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/onbording/components/footer/Buttons.tsx
  nonsoolmateClient/src/onbording/components/footer/Footer.tsx
  nonsoolmateClient/src/onbording/components/footer/FooterLeft.tsx
  nonsoolmateClient/src/onbording/components/footer/FooterRight.tsx
  nonsoolmateClient/src/onbording/components/footer/Sns.tsx
  nonsoolmateClient/src/onbording/core/footerlist.ts
Labels: 💄 design, 💚 혜인

#32 Design/#31/onbording/banner
  nonsoolmateClient/src/assets/icon/rightWhiteArrowIc.svg
  nonsoolmateClient/src/assets/image/homeTestSet.png
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/onbording/components/banner/Banner.tsx
  nonsoolmateClient/src/onbording/components/banner/GotoSaleButton.tsx
  nonsoolmateClient/src/onbording/components/banner/HomeImg.tsx
  nonsoolmateClient/src/onbording/components/banner/Summary.tsx
  nonsoolmateClient/src/onbording/components/banner/Title.tsx
Labels: 💄 design, 💚 혜인

#36 Design/#27/home/practice&study UI
  nonsoolmateClient/src/assets/icon/emptyIc.svg
  nonsoolmateClient/src/assets/icon/findTestIc.svg
  nonsoolmateClient/src/assets/icon/homeTestUnsetIc.svg
  nonsoolmateClient/src/assets/icon/rightArrowBlueIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/home/components/HomeSide.tsx
  nonsoolmateClient/src/home/components/SideBarPracticeButton.tsx
  nonsoolmateClient/src/home/components/SideBarStudyButton.tsx
  nonsoolmateClient/src/home/components/SideBarTestButton.tsx
  nonsoolmateClient/src/home/homePractice/HomePractice.tsx
  nonsoolmateClient/src/home/homeStudy/HomeStudy.tsx
  nonsoolmateClient/src/home/homeTest/HomeTest.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestUnset.tsx
  nonsoolmateClient/src/home/index.tsx
  nonsoolmateClient/src/style/layout/UnsetContainerLayout.tsx
  nonsoolmateClient/src/style/layout/UnsetContentLayout.tsx
Labels: 💄 design, 💛 민영, 🏠Home

#34 Design/#33/onbording/university
  nonsoolmateClient/src/assets/image/univieristy.png
  nonsoolmateClient/src/onbording/components/univeristy/Summary.tsx
  nonsoolmateClient/src/onbording/components/univeristy/Title.tsx
  nonsoolmateClient/src/onbording/components/univeristy/UnivImgs.tsx
  nonsoolmateClient/src/onbording/components/univeristy/Univeristy.tsx
Labels: 💄 design, 💚 혜인

#42 Design/#28/take test/modal UI
  nonsoolmateClient/src/assets/icon/precautionNumOneIc.svg
  nonsoolmateClient/src/assets/icon/precautionNumThreeIc.svg
  nonsoolmateClient/src/assets/icon/precautionNumTwoIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/takeTest/components/coachMark/CloseCoachMark.tsx
  nonsoolmateClient/src/takeTest/components/coachMark/CoachMark.tsx
  nonsoolmateClient/src/takeTest/components/header/TestHeader.tsx
  nonsoolmateClient/src/takeTest/components/modal/Modal.tsx
  nonsoolmateClient/src/takeTest/components/modal/ModalLayout.tsx
  nonsoolmateClient/src/takeTest/components/modal/PrecautionModal.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestFinishModal.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestQuitModal.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestSubmitModal.tsx
  nonsoolmateClient/src/takeTest/constants/modalConstants.ts
  nonsoolmateClient/src/takeTest/index.tsx
  nonsoolmateClient/src/takeTest/types/ coachMarkProps.ts
Labels: 💄 design, 💜 소영, 💡 takeTest

#39 Design/#35/onbording/advertise
  nonsoolmateClient/src/assets/image/reason01Ic.png
  nonsoolmateClient/src/assets/image/reason02Ic.png
  nonsoolmateClient/src/assets/image/reason03Ic.png
  nonsoolmateClient/src/assets/image/reason04Ic.png
  nonsoolmateClient/src/assets/image/reason05Ic.png
  nonsoolmateClient/src/assets/image/reason06Ic.png
  nonsoolmateClient/src/onbording/components/advertise/Advertise.tsx
  nonsoolmateClient/src/onbording/components/advertise/Advertisement/Advertisement.tsx
  nonsoolmateClient/src/onbording/components/advertise/Advertisement/Image.tsx
  nonsoolmateClient/src/onbording/components/advertise/Advertisement/Reasons.tsx
  nonsoolmateClient/src/onbording/components/advertise/Advertisement/Summary.tsx
  nonsoolmateClient/src/onbording/components/advertise/Advertisement/Title.tsx
  nonsoolmateClient/src/onbording/components/advertise/Summary.tsx
  nonsoolmateClient/src/onbording/components/advertise/Title.tsx
  nonsoolmateClient/src/onbording/core/reasons.ts
  nonsoolmateClient/src/onbording/types/reasonListType.ts
Labels: 💄 design, 💚 혜인

#45 [ hotfix/#44 ] 파일명에 실수로 들어간 공백 제거
  nonsoolmateClient/src/takeTest/components/coachMark/CloseCoachMark.tsx
  nonsoolmateClient/src/takeTest/components/coachMark/CoachMark.tsx
  nonsoolmateClient/src/takeTest/types/coachMarkProps.ts
Labels: 🚑️ hotfix

#41 Feat/#38/answer/pdf viewer
  nonsoolmateClient/package.json
  nonsoolmateClient/src/answer/components/PdfViewer.tsx
  nonsoolmateClient/src/answer/components/PdfViewerWrapper.tsx
  nonsoolmateClient/src/answer/correction/index.tsx
  nonsoolmateClient/src/answer/explanation/index.tsx
  nonsoolmateClient/src/style/style.d.ts
  nonsoolmateClient/src/style/theme.ts
  nonsoolmateClient/yarn.lock
Labels: 💡 Answer, ✨Feat, 💄 design, 💙 시연

#49 Design/#37/home test/toggle UI
  nonsoolmateClient/src/assets/icon/searchIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/home/components/HomeHeader.tsx
  nonsoolmateClient/src/home/core/universityLists.ts
  nonsoolmateClient/src/home/homePractice/HomePractice.tsx
  nonsoolmateClient/src/home/homeStudy/HomeStudy.tsx
  nonsoolmateClient/src/home/homeTest/.keep
  nonsoolmateClient/src/home/homeTest/HomeTest.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestSet.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestUnset.tsx
  nonsoolmateClient/src/home/homeTest/components/SelectedUniversityToggle.tsx
  nonsoolmateClient/src/home/index.tsx
  nonsoolmateClient/src/style/layout/SetUnsetLayout.ts
  nonsoolmateClient/src/style/layout/UnsetContainerLayout.tsx
Labels: ✨Feat, 💄 design, 💛 민영, 🏠Home

#46 Design/#40/onbording/faq
  nonsoolmateClient/src/assets/icon/qnatooglecloseIc.svg
  nonsoolmateClient/src/assets/icon/qnatoogleopenIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/onbording/components/common/DivideLine.tsx
  nonsoolmateClient/src/onbording/components/faq/DivideLine.tsx
  nonsoolmateClient/src/onbording/components/faq/FaQ.tsx
  nonsoolmateClient/src/onbording/components/faq/QnA.tsx
  nonsoolmateClient/src/onbording/components/faq/Title.tsx
  nonsoolmateClient/src/onbording/components/faq/core/qnalist.ts
  nonsoolmateClient/src/onbording/components/faq/qna/Answer.tsx
  nonsoolmateClient/src/onbording/components/faq/qna/QnA.tsx
  nonsoolmateClient/src/onbording/components/faq/qna/Question.tsx
  nonsoolmateClient/src/onbording/components/faq/types/qaatypes.ts
  nonsoolmateClient/src/onbording/components/footer/Footer.tsx
Labels: 💄 design, 💚 혜인

#56 Feat/#43/take test/timer
  nonsoolmateClient/src/takeTest/components/header/TestHeader.tsx
  nonsoolmateClient/src/takeTest/components/header/Timer.tsx
  nonsoolmateClient/src/takeTest/components/modal/Modal.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestFinishModal.tsx
  nonsoolmateClient/src/takeTest/index.tsx
Labels: ✨Feat, 💜 소영, 💡 takeTest

#54 Feat/#52/answer/image slider
  nonsoolmateClient/src/answer/components/PdfViewerWrapper.tsx
  nonsoolmateClient/src/answer/explanation/components/.gitkeep
  nonsoolmateClient/src/answer/explanation/components/ImageSlider.tsx
Labels: 💡 Answer, ✨Feat, 💙 시연

#58 Design/#57/take test/fixed info
  nonsoolmateClient/src/assets/image/testexample.png
  nonsoolmateClient/src/takeTest/components/header/TestHeader.tsx
  nonsoolmateClient/src/takeTest/components/pagination/TestPagination.tsx
  nonsoolmateClient/src/takeTest/index.tsx
Labels: 💄 design, 💜 소영, 💡 takeTest

#61 Design/#51/home test/modal UI
  nonsoolmateClient/src/assets/icon/checkBtnIc.svg
  nonsoolmateClient/src/assets/icon/notCheckBtnIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/home/components/HomeHeader.tsx
  nonsoolmateClient/src/home/components/modal/UniversityModal.tsx
  nonsoolmateClient/src/home/core/selectionLists.ts
  nonsoolmateClient/src/home/homePractice/.keep
  nonsoolmateClient/src/home/homePractice/HomePractice.tsx
  nonsoolmateClient/src/home/homeStudy/.keep
  nonsoolmateClient/src/home/homeStudy/HomeStudy.tsx
  nonsoolmateClient/src/home/homeTest/HomeTest.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestSet.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestUnset.tsx
  nonsoolmateClient/src/home/homeTest/components/SelectedUniversityToggle.tsx
  nonsoolmateClient/src/style/layout/SetUnsetLayout.ts
Labels: ✨Feat, 💄 design, 💛 민영, 🏠Home

#64 Feat/#55/answer/pdf download
  nonsoolmateClient/package.json
  nonsoolmateClient/src/answer/components/PdfViewer.tsx
  nonsoolmateClient/src/answer/components/PdfViewerWrapper.tsx
  nonsoolmateClient/src/answer/components/TitleWrapper.tsx
  nonsoolmateClient/yarn.lock
Labels: 💡 Answer, ✨Feat, 💙 시연

#63 Design/#59/membership
  nonsoolmateClient/src/assets/icon/checkSmallIc.svg
  nonsoolmateClient/src/assets/icon/monthlyMembershipIc.svg
  nonsoolmateClient/src/assets/icon/sixMonthsMembershipIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/components/.keep
  nonsoolmateClient/src/components/onbordingheader/Header.tsx
  nonsoolmateClient/src/components/onbordingheader/HeaderLeft.tsx
  nonsoolmateClient/src/components/onbordingheader/HeaderRight.tsx
  nonsoolmateClient/src/components/onbordingheader/buttons/LoginButton.tsx
  nonsoolmateClient/src/components/onbordingheader/buttons/MembershipButton.tsx
  nonsoolmateClient/src/membership/components/BackgroundGrey.tsx
  nonsoolmateClient/src/membership/components/Contents.tsx
  nonsoolmateClient/src/membership/components/Title.tsx
  nonsoolmateClient/src/membership/components/advantage/Advantage.tsx
  nonsoolmateClient/src/membership/components/advantage/Summary.tsx
  nonsoolmateClient/src/membership/components/advantage/Title.tsx
  nonsoolmateClient/src/membership/components/subscribe/Icons.tsx
  nonsoolmateClient/src/membership/components/subscribe/Price.tsx
  nonsoolmateClient/src/membership/components/subscribe/PurchaseButton.tsx
  nonsoolmateClient/src/membership/components/subscribe/Subscribe.tsx
  nonsoolmateClient/src/membership/components/subscribe/Summary.tsx
  nonsoolmateClient/src/membership/components/subscribe/Title.tsx
  nonsoolmateClient/src/membership/components/subscribe/sales/Sales.tsx
  nonsoolmateClient/src/membership/components/subscribe/sales/SalesContents.tsx
  nonsoolmateClient/src/membership/core/contentlist.ts
  nonsoolmateClient/src/membership/core/membership.ts
  nonsoolmateClient/src/membership/index.tsx
  nonsoolmateClient/src/membership/types/contentlisttpye.ts
  nonsoolmateClient/src/membership/types/salestype.ts
  nonsoolmateClient/src/onbording/components/header/Header.tsx
  nonsoolmateClient/src/onbording/index.tsx
  nonsoolmateClient/src/router.tsx
  nonsoolmateClient/src/style/style.d.ts
  nonsoolmateClient/src/style/theme.ts
Labels: 💄 design, 💚 혜인

#65 Design/#62/home/member info toggle
  nonsoolmateClient/src/assets/icon/downArrowGreyIc.svg
  nonsoolmateClient/src/assets/icon/upArrowGreyIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/home/components/HomeHeader.tsx
  nonsoolmateClient/src/home/components/HomeMemberInfoToggle.tsx
  nonsoolmateClient/src/home/components/HomeSide.tsx
  nonsoolmateClient/src/home/components/SelectedUniversityToggle.tsx
  nonsoolmateClient/src/home/components/UniversityModal.tsx
  nonsoolmateClient/src/home/core/selectionLists.ts
  nonsoolmateClient/src/home/core/universityLists.ts
  nonsoolmateClient/src/home/homeTest/HomeTest.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestSet.tsx
  nonsoolmateClient/src/home/index.tsx
Labels: ✨Feat, 💄 design, 💛 민영, 🏠Home

#67 Feat/#60/take test/file upload
  nonsoolmateClient/package.json
  nonsoolmateClient/src/takeTest/components/modal/TestFinishModal.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestQuitModal.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestSubmitModal.tsx
  nonsoolmateClient/src/takeTest/index.tsx
  nonsoolmateClient/yarn.lock
Labels: ✨Feat, 💜 소영, 💡 takeTest

#69 Feat/#66/home/resolve selected university toggle
  nonsoolmateClient/src/home/components/HomeHeader.tsx
  nonsoolmateClient/src/home/components/UniversityModal.tsx
  nonsoolmateClient/src/home/homePractice/HomePractice.tsx
  nonsoolmateClient/src/home/homeStudy/HomeStudy.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestSet.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestUnset.tsx
Labels: ♻️ refactor, ✨Feat, 💛 민영, 🏠Home

#70 Feat/#68/take test/use query
  nonsoolmateClient/package.json
  nonsoolmateClient/src/App.tsx
  nonsoolmateClient/src/takeTest/api/getUniversityExamImages.ts
  nonsoolmateClient/src/takeTest/components/pagination/TestPagination.tsx
  nonsoolmateClient/src/takeTest/hooks/useGetUniversityExampleImages.ts
  nonsoolmateClient/src/takeTest/index.tsx
  nonsoolmateClient/yarn.lock
Labels: ✨Feat, 💜 소영, 💡 takeTest

#74 Refactor/#73/home/design qa
  nonsoolmateClient/src/assets/icon/emptyIc.svg
  nonsoolmateClient/src/home/components/HomeHeader.tsx
  nonsoolmateClient/src/home/components/SelectedUniversityToggle.tsx
  nonsoolmateClient/src/home/homePractice/HomePractice.tsx
  nonsoolmateClient/src/home/homeStudy/HomeStudy.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestUnset.tsx
  nonsoolmateClient/src/style/layout/SetUnsetLayout.ts
Labels: ♻️ refactor, 💛 민영, 🏠Home

#75 Refactor/#72/take test/design qa
  nonsoolmateClient/src/takeTest/components/coachMark/TimerMark.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestSubmitModal.tsx
Labels: ♻️ refactor, 💜 소영, 💡 takeTest

#76 Feat/#53/answer/hide slider
  nonsoolmateClient/.stylelintrc.json
  nonsoolmateClient/package.json
  nonsoolmateClient/src/answer/components/ExplainHeader.tsx
  nonsoolmateClient/src/answer/components/PdfViewer.tsx
  nonsoolmateClient/src/answer/components/PdfViewerWrapper.tsx
  nonsoolmateClient/src/answer/components/TitleWrapper.tsx
  nonsoolmateClient/src/style/layout/SetUnsetLayout.ts
  nonsoolmateClient/yarn.lock
Labels: 💡 Answer, ✨Feat, 💙 시연

#77 Refactor/#71/onbording signup membership qa
  nonsoolmateClient/src/assets/image/homeTestSet.png
  nonsoolmateClient/src/components/onbordingheader/Header.tsx
  nonsoolmateClient/src/components/onbordingheader/HeaderLeft.tsx
  nonsoolmateClient/src/components/onbordingheader/buttons/LoginButton.tsx
  nonsoolmateClient/src/components/onbordingheader/buttons/MembershipButton.tsx
  nonsoolmateClient/src/membership/components/subscribe/Summary.tsx
  nonsoolmateClient/src/onbording/components/footer/Footer.tsx
  nonsoolmateClient/src/router.tsx
Labels: ♻️ refactor, 💄 design, 💚 혜인

#83 [ design/#81 ] 타이머 디자인 수정
  nonsoolmateClient/src/takeTest/components/header/TestHeader.tsx
Labels: ♻️ refactor, 💜 소영, 💡 takeTest

#84 Style#82#onboardingspell
  nonsoolmateClient/src/components/onbordingheader/Header.tsx
  nonsoolmateClient/src/membership/index.tsx
  nonsoolmateClient/src/onboarding/components/advertise/Advertise.tsx
  nonsoolmateClient/src/onboarding/components/advertise/Advertisement/Advertisement.tsx
  nonsoolmateClient/src/onboarding/components/advertise/Advertisement/Image.tsx
  nonsoolmateClient/src/onboarding/components/advertise/Advertisement/Reasons.tsx
  nonsoolmateClient/src/onboarding/components/advertise/Advertisement/Summary.tsx
  nonsoolmateClient/src/onboarding/components/advertise/Advertisement/Title.tsx
  nonsoolmateClient/src/onboarding/components/advertise/Summary.tsx
  nonsoolmateClient/src/onboarding/components/advertise/Title.tsx
  nonsoolmateClient/src/onboarding/components/banner/Banner.tsx
  nonsoolmateClient/src/onboarding/components/banner/GotoSaleButton.tsx
  nonsoolmateClient/src/onboarding/components/banner/HomeImg.tsx
  nonsoolmateClient/src/onboarding/components/banner/Summary.tsx
  nonsoolmateClient/src/onboarding/components/banner/Title.tsx
  nonsoolmateClient/src/onboarding/components/common/DivideLine.tsx
  nonsoolmateClient/src/onboarding/components/faq/FaQ.tsx
  nonsoolmateClient/src/onboarding/components/faq/Title.tsx
  nonsoolmateClient/src/onboarding/components/faq/core/qnalist.ts
  nonsoolmateClient/src/onboarding/components/faq/qna/Answer.tsx
  nonsoolmateClient/src/onboarding/components/faq/qna/QnA.tsx
  nonsoolmateClient/src/onboarding/components/faq/qna/Question.tsx
  nonsoolmateClient/src/onboarding/components/faq/types/qaatypes.ts
  nonsoolmateClient/src/onboarding/components/footer/Buttons.tsx
  nonsoolmateClient/src/onboarding/components/footer/Footer.tsx
  nonsoolmateClient/src/onboarding/components/footer/FooterLeft.tsx
  nonsoolmateClient/src/onboarding/components/footer/FooterRight.tsx
  nonsoolmateClient/src/onboarding/components/footer/Sns.tsx
  nonsoolmateClient/src/onboarding/components/univeristy/Summary.tsx
  nonsoolmateClient/src/onboarding/components/univeristy/Title.tsx
  nonsoolmateClient/src/onboarding/components/univeristy/UnivImgs.tsx
  nonsoolmateClient/src/onboarding/components/univeristy/Univeristy.tsx
  nonsoolmateClient/src/onboarding/core/footerlist.ts
  nonsoolmateClient/src/onboarding/core/reasons.ts
  nonsoolmateClient/src/onboarding/index.tsx
  nonsoolmateClient/src/onboarding/types/reasonListType.ts
  nonsoolmateClient/src/router.tsx
Labels: 💚 혜인, 🎨 style

#86 Refactor/#80/home/design qa2
  nonsoolmateClient/src/home/components/HomeHeader.tsx
  nonsoolmateClient/src/home/components/SelectedUniversityToggle.tsx
Labels: ♻️ refactor, 💛 민영, 🏠Home

#87 [ hotfix ] build 에러 잡기
  nonsoolmateClient/src/takeTest/components/header/TestHeader.tsx
Labels: 🚀 deploy, 💚 혜인

#92 Feat/#91/take test/exam images api
  nonsoolmateClient/src/takeTest/api/getUniversityExamImages.ts
  nonsoolmateClient/src/takeTest/components/pagination/TestPagination.tsx
Labels: 💜 소영, 💡 takeTest, 📡 api

#95 Feat/#90/home/fix select university
  nonsoolmateClient/src/home/components/UniversityModal.tsx
  nonsoolmateClient/src/home/homePractice/HomePractice.tsx
  nonsoolmateClient/src/home/homeStudy/HomeStudy.tsx
  nonsoolmateClient/src/home/homeTest/HomeTest.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestSet.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestUnset.tsx
  nonsoolmateClient/src/style/layout/SetUnsetLayout.ts
Labels: ♻️ refactor, ✨Feat, 💄 design, 💛 민영, 🏠Home, 🎨 style

#97 Feat/#94/take test/exam api
  nonsoolmateClient/src/takeTest/api/getUniversityExam.ts
  nonsoolmateClient/src/takeTest/components/header/TestHeader.tsx
  nonsoolmateClient/src/takeTest/components/header/Timer.tsx
  nonsoolmateClient/src/takeTest/hooks/useGetUniversityExam.ts
  nonsoolmateClient/src/takeTest/index.tsx
Labels: 💜 소영, 💡 takeTest, 📡 api

#100 Feat/#98/take test/presigned url api
  nonsoolmateClient/src/takeTest/api/getPresignedUrl.ts
  nonsoolmateClient/src/takeTest/api/getUniversityExam.ts
  nonsoolmateClient/src/takeTest/api/getUniversityExamImages.ts
  nonsoolmateClient/src/takeTest/components/pagination/TestPagination.tsx
  nonsoolmateClient/src/takeTest/hooks/useGetPresignedUrl.ts
  nonsoolmateClient/src/takeTest/hooks/useGetUniversityExam.ts
  nonsoolmateClient/src/takeTest/hooks/useGetUniversityExampleImages.ts
  nonsoolmateClient/src/takeTest/index.tsx
  nonsoolmateClient/src/types/common.ts
Labels: 💜 소영, 💡 takeTest, 📡 api

#106 Feat/#102/put exam sheet api
  nonsoolmateClient/src/takeTest/api/putExamSheet.ts
  nonsoolmateClient/src/takeTest/components/modal/TestSubmitModal.tsx
  nonsoolmateClient/src/takeTest/hooks/usePutExamSheet.ts
  nonsoolmateClient/src/takeTest/index.tsx
Labels: 💜 소영, 💡 takeTest, 📡 api

#103 Feat/#101/home/member name&ticket count api
  nonsoolmateClient/src/home/api/getName.ts
  nonsoolmateClient/src/home/api/getTicket.ts
  nonsoolmateClient/src/home/components/HomeHeader.tsx
  nonsoolmateClient/src/home/components/HomeMemberInfoToggle.tsx
  nonsoolmateClient/src/home/components/HomeSide.tsx
  nonsoolmateClient/src/home/hooks/useGetName.ts
  nonsoolmateClient/src/home/hooks/useGetTicket.ts
Labels: ✨Feat, 💛 민영, 🏠Home, 📡 api

#108 Feat/#93/answer/api work
  nonsoolmateClient/src/answer/api/getCorrectionPageData.ts
  nonsoolmateClient/src/answer/components/PdfViewerWrapper.tsx
  nonsoolmateClient/src/answer/correction/index.tsx
  nonsoolmateClient/src/answer/explanation/index.tsx
  nonsoolmateClient/src/answer/hooks/useGetCorrectionPageData.ts
Labels: 💡 Answer, 💙 시연, 📡 api

#105 Feat/#99/social login
  nonsoolmateClient/package.json
  nonsoolmateClient/src/api/axios.ts
  nonsoolmateClient/src/api/cookie.ts
  nonsoolmateClient/src/main.tsx
  nonsoolmateClient/src/router.tsx
  nonsoolmateClient/src/signup/components/login/NaverLoginButton.tsx
  nonsoolmateClient/src/socialLogin/api/getNaverAuthUrl.ts
  nonsoolmateClient/src/socialLogin/api/login.ts
  nonsoolmateClient/src/socialLogin/hooks/useLogin.ts
  nonsoolmateClient/src/socialLogin/index.tsx
  nonsoolmateClient/src/socialLogin/utils/redirectToNaverAuth.ts
  nonsoolmateClient/src/utils/.keep
  nonsoolmateClient/yarn.lock
Labels: ✨Feat, 💚 혜인, 📡 api

#114 Feat/#111/home/hotfix
  nonsoolmateClient/src/home/api/getSelectUniversities.ts
  nonsoolmateClient/src/home/api/getSelectUniversityExams.ts
  nonsoolmateClient/src/home/api/patchSelectUniversities.ts
  nonsoolmateClient/src/home/components/SelectedUniversityToggle.tsx
  nonsoolmateClient/src/home/components/UniversityModal.tsx
  nonsoolmateClient/src/home/homeTest/HomeTest.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestSet.tsx
  nonsoolmateClient/src/home/hooks/useGetSelectUniversities.ts
  nonsoolmateClient/src/home/hooks/useGetSelectUniversityExams.ts
  nonsoolmateClient/src/home/hooks/usePatchSelectUniversities.ts
Labels: ♻️ refactor, ✨Feat, 💛 민영, 🏠Home, 📡 api

#112 Feat/#109/answer/api work
  nonsoolmateClient/src/answer/api/getCorrectionPageData.ts
  nonsoolmateClient/src/answer/api/getExplanationPageData.ts
  nonsoolmateClient/src/answer/components/PdfViewerWrapper.tsx
  nonsoolmateClient/src/answer/correction/index.tsx
  nonsoolmateClient/src/answer/explanation/components/ImageSlider.tsx
  nonsoolmateClient/src/answer/explanation/index.tsx
  nonsoolmateClient/src/answer/hooks/useGetExplanationPageData.ts
  nonsoolmateClient/src/answer/types/testImageType.ts
Labels: 💡 Answer, 💙 시연, 📡 api

#116 Feat/#115/home/pass state
  nonsoolmateClient/src/answer/correction/index.tsx
  nonsoolmateClient/src/answer/explanation/index.tsx
  nonsoolmateClient/src/home/components/SelectedUniversityToggle.tsx
  nonsoolmateClient/src/takeTest/api/getUniversityExamImages.ts
  nonsoolmateClient/src/takeTest/components/modal/TestSubmitModal.tsx
  nonsoolmateClient/src/takeTest/components/pagination/TestPagination.tsx
  nonsoolmateClient/src/takeTest/hooks/useGetUniversityExampleImages.ts
  nonsoolmateClient/src/takeTest/index.tsx
Labels: ✨Feat, 💜 소영

#119 [ hotfix/#118 ] 새로고침 시 리셋되는 문제 해결
  nonsoolmateClient/src/home/components/UniversityModal.tsx
  nonsoolmateClient/src/home/homeTest/HomeTest.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestSet.tsx
  nonsoolmateClient/src/home/hooks/useGetSelectUniversityExams.ts
Labels: 🚑️ hotfix, ✨Feat, 🏠Home

#122 Design/#121/loading
  nonsoolmateClient/src/assets/image/loadingIc.png
  nonsoolmateClient/src/loading/index.tsx
  nonsoolmateClient/src/router.tsx
  nonsoolmateClient/src/socialLogin/index.tsx
Labels: 💄 design, 💚 혜인

#124 [ design ] membership 페이지 수정
  nonsoolmateClient/src/assets/image/univieristy.png
  nonsoolmateClient/src/membership/components/advantage/Title.tsx
  nonsoolmateClient/src/membership/core/contentlist.ts
  nonsoolmateClient/src/membership/core/membership.ts
  nonsoolmateClient/src/onboarding/components/faq/FaQ.tsx
  nonsoolmateClient/src/onboarding/components/faq/core/qnalist.ts
Labels: 💄 design, 💚 혜인

#128 Design/#117/home/toast UI
  nonsoolmateClient/index.html
  nonsoolmateClient/src/home/homeTest/HomeTest.tsx
  nonsoolmateClient/src/takeTest/components/header/TestHeader.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestSubmitModal.tsx
Labels: 💄 design, 💜 소영, 💡 takeTest

#131 Feat/#129/take test/fix timer
  nonsoolmateClient/src/home/components/SelectedUniversityToggle.tsx
  nonsoolmateClient/src/takeTest/components/header/Timer.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestSubmitModal.tsx
  nonsoolmateClient/src/takeTest/index.tsx
Labels: ✨Feat, 💜 소영, 💡 takeTest, 🏠Home

#132 Design/#120/errorpage
  nonsoolmateClient/src/assets/image/errorIc.png
  nonsoolmateClient/src/error/index.tsx
  nonsoolmateClient/src/router.tsx
  nonsoolmateClient/src/socialLogin/index.tsx
Labels: 💄 design, 💚 혜인

#134 Feat/#127/tokens
  nonsoolmateClient/src/App.tsx
  nonsoolmateClient/src/api/Tokenreissue.tsx
  nonsoolmateClient/src/api/axios.ts
  nonsoolmateClient/src/socialLogin/api/getData.ts
  nonsoolmateClient/src/socialLogin/hooks/useLogin.ts
Labels: ✨Feat, 💚 혜인

#136 Design/#135/asset
  nonsoolmateClient/src/assets/image/homeTestSet.png
  nonsoolmateClient/src/assets/image/reason01Ic.png
  nonsoolmateClient/src/assets/image/reason02Ic.png
  nonsoolmateClient/src/assets/image/reason03Ic.png
  nonsoolmateClient/src/assets/image/reason04Ic.png
  nonsoolmateClient/src/assets/image/reason05Ic.png
  nonsoolmateClient/src/assets/image/reason06Ic.png
  nonsoolmateClient/src/assets/image/university.png
  nonsoolmateClient/src/assets/image/univieristy.png
  nonsoolmateClient/src/error/index.tsx
  nonsoolmateClient/src/home/components/HomeHeader.tsx
  nonsoolmateClient/src/onboarding/components/univeristy/UnivImgs.tsx
Labels: 💄 design, 💚 혜인

#138 [ hotfix ] reissue put header 강제 삭제
  nonsoolmateClient/src/api/Tokenreissue.tsx
Labels: 🚑️ hotfix, 💚 혜인

#140 Feat/#133/answer/hover message
  nonsoolmateClient/src/answer/components/PdfViewerWrapper.tsx
  nonsoolmateClient/src/assets/icon/showExplanationTagIc.svg
  nonsoolmateClient/src/assets/icon/showQuestionTagIc.svg
  nonsoolmateClient/src/assets/index.ts
Labels: 💡 Answer, ✨Feat, 💙 시연

#142 Design/#141/take test/arrow change
  nonsoolmateClient/src/takeTest/components/header/TestHeader.tsx
  nonsoolmateClient/src/takeTest/components/modal/TestQuitModal.tsx
  nonsoolmateClient/src/takeTest/components/pagination/TestPagination.tsx
Labels: 💄 design, 💜 소영, 💡 takeTest

#145 Refactor/#144
  nonsoolmateClient/src/components/onbordingheader/buttons/LoginButton.tsx
  nonsoolmateClient/src/membership/components/Title.tsx
  nonsoolmateClient/src/membership/components/subscribe/sales/Sales.tsx
  nonsoolmateClient/src/membership/components/subscribe/sales/SalesContents.tsx
  nonsoolmateClient/src/membership/core/contentlist.ts
  nonsoolmateClient/src/onboarding/components/advertise/Title.tsx
  nonsoolmateClient/src/onboarding/components/faq/core/qnalist.ts
  nonsoolmateClient/src/onboarding/components/univeristy/UnivImgs.tsx
Labels: 💄 design, 💚 혜인

#146 Refactor/#143/home/design qa final
  nonsoolmateClient/src/answer/components/PdfViewer.tsx
  nonsoolmateClient/src/answer/components/PdfViewerWrapper.tsx
  nonsoolmateClient/src/answer/explanation/components/ImageSlider.tsx
  nonsoolmateClient/src/home/components/HomeHeader.tsx
  nonsoolmateClient/src/home/components/HomeSide.tsx
  nonsoolmateClient/src/home/components/SelectedUniversityToggle.tsx
  nonsoolmateClient/src/home/components/SideBarPracticeButton.tsx
  nonsoolmateClient/src/home/components/SideBarStudyButton.tsx
  nonsoolmateClient/src/home/components/SideBarTestButton.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestSet.tsx
  nonsoolmateClient/src/style/globalStyle.ts
  nonsoolmateClient/src/style/layout/SideBarTextBoxLayout.ts
  nonsoolmateClient/src/style/theme.ts
  nonsoolmateClient/src/takeTest/components/pagination/TestPagination.tsx
Labels: ♻️ refactor, 💄 design, 💛 민영, 🏠Home, 🎨 style
